<form novalidate   [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPasswordSubmit()">
    <h2 mat-dialog-title>mot de passe oublié</h2>
    <div mat-dialog-content>
        <div *ngIf="!afterUpdateAction ; else elseActionUpdate">
            <p>
                <mat-form-field>
                    <mat-label>Adresse mail</mat-label>
                    <input matInput formControlName="email" type="text">
                    <div class="input-alert" 
                    *ngIf="forgetPasswordForm.get('email')?.invalid && 
                    forgetPasswordForm.get('email')?.touched">Vous devez saisir une adresse mail valide</div>
                </mat-form-field>
            </p>
            <button type="submit" class="btn-primary">Envoyer</button>    
        </div>
        <ng-template #elseActionUpdate>
            <p>{{afterUpdateActionMessage}}</p>
        </ng-template>
    </div>
</form>