<h2>List des messages</h2>
<table mat-table class="admin-table" [dataSource]="messageList">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="emitterId">
      <th mat-header-cell *matHeaderCellDef> Emitter ID </th>
      <td mat-cell *matCellDef="let element"> {{element.emitterUser}} </td>
    </ng-container>
  
    <ng-container matColumnDef="emitterName">
      <th mat-header-cell *matHeaderCellDef> Emitter Name </th>
      <td mat-cell *matCellDef="let element"> {{element.emitterName}} </td>
    </ng-container>
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created at </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            <div *ngIf="!element.deleteAction; else deleteAction">
                <button (click)="deleteMessage(element)" mat-raised-button color="warn">Supprimer</button> 
            </div>
            <ng-template #deleteAction> <p>Utilisateur supprimé</p></ng-template>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>